/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/v17/.suo
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/56d80ccab95b5025.ipch
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/fd05045dbec685c7.ipch
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteClient/x64/Debug
/RemoteCtrl/RemoteCtrl/x64/Debug
/RemoteCtrl/x64/Debug
